body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background-color: orangered;
}

.left {
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;}

.left img {
    width: 136px;
}

.left div {
    color: cyan;
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}

.mid {
    display: block;
    width: 55%;
    margin: 29px auto;
}

.right {
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 43px;
}

.right img {
    width: 136px;
}

.right div {
    color: cyan;
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    background-color: black;
    color: red;
    text-decoration: none;
    padding: 7px 23px;
    border: 2px solid black;
    border-radius: 28px;
}

.navbar li a:hover {
    background-color: blue;
    color: white;
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: orangered;
    color: white;
    padding: 4px 14px;
    border: 2px solid black;
    border-radius: 28px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    color: black;
    background-color: cyan;
}

.container {
    background-color: grey;
    border: 2px solid rgb(255, 0, 0);
    margin: 202px 80px;
    padding: 171px;
    width: 9%;
    border-radius: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    color: black;
}